body{
    background-image: url(http://demos.creative-tim.com/paper-kit-2/assets/img/antoine-barres.jpg);
    background-attachment: fixed ;
    background-size: cover;
}

.div{
    background-color: red;
    width: 60px;
    border: 2px solid red;
    height: 60px;

}


.big-div{
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter:blur(3.5px);
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 100px;
    width: 120px;
    margin: auto;
    border-radius: 12px;
}

.sabet{
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.d1{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 30px;
}

.d2{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 30px;
}

.d3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 30px;
}

.sabet{
    position: fixed;
}


#btn2{
    cursor: pointer;
    width: 100px;
    height: 38px;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5;
    color: #2600ff;
    margin-top: 8px;
}

#btn1{
background-color: rgba(255,255,255,0.15);
backdrop-filter:blur(3.5px);
border-radius: 10px;
border: none;
width: 100px;
height: 40px;
cursor: pointer;
color: #2600ff;
margin-top: 8px;
transition: 0.5s;
}

#btn3{
background-color: rgba(255,255,255,0.15);
backdrop-filter:blur(3.5px);
border-radius: 10px;
border: none;
width: 100px;
height: 30px;
cursor: pointer;
color: #2600ff;
margin-top: 8px;
transition: 0.5s;
}

#email{
    padding: 15px;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
}

#email:hover{
    box-shadow: 2px 2px 30px  rgb(3, 118, 226);
}

#div1{
    font-family:;
}


#btn2::before{
    content: '';
    width: 0;
    height: 38px;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#btn2:hover::before{
    width: 100px;
}

.button{
width: 9em;
height: 3em;
border-radius: 30em;
font-size: 15px;
font-family: inherit;
border: none;
position: relative;
overflow: hidden;
z-index: 1;
box-shadow: 6px 6px 12px #c5c5c5;
color: #2600ff;
}

.button::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button:hover::before{
    width: 9em;
}

.loin{
        font-size: 40px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #079fce, 0 0 40px #079fce, 0 0 50px #079fce, 0 0 60px #079fce, 0 0 70px #079fce;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #1100fa, 0 0 40px #1100fa, 0 0 50px #1100fa, 0 0 60px #1100fa, 0 0 70px #1100fa, 0 0 80px #1100fa;
        }
      }


.house{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#btn1:hover{
    box-shadow: 10px 15px 30px 0 rgba(0, 0, 0, 0.37);
}

#btn3:hover{
    box-shadow: 10px 15px 30px 0 rgba(0, 0, 0, 0.37);
}

.setting { 
    position: fixed;
}
